/* #e21288 */
/* #ff1414 */
/* #12e212 */
/* #aaf514 */

html {
  background-color: black;
}
body {
  padding-top: 56px;
  background-color: black;
  color: white;
  font-family: 'Comfortaa', cursive;
}
.odd-title {
  font-size: 6em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.odd-subtitle {
  font-size: 3em;
  margin-bottom: 0;
  color: #bbb;
}
a.source-link {
  color: #aaf514;
}
